<html>
    <body>
        <h1>
            Mars Rovers
        </h1>

        <% rovers.forEach(function(rovers) { %>
            <li> <a href = "/rover/<%= rovers.name%>"><%= rovers.name %> </a></li>
        <% }); %>
    </body>
</html>