<!DOCTYPE html>

<html>

<head>
    <title>Mars Rovers App with React</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
    
    <body>
        <h1>
            Mars Rovers (React)
        </h1>

        <div id="root"></div>

        <script type="text/babel">
            
            const RoverDetail = (props) => {
                return (
                    <div>
                        <h3>Rover Details</h3>
                        <b>name</b> {props.rover.name}
                    </div>
                )                
            }
            
            const Home = (props) => {
                const [currentItem, setCurrentItem] = React.useState({});
                
                return (
                    <div>
                        <ul>
                            {props.data.map(rover => (
                                <li key={rover.name}>
                                    <a href={`/rover/${rover.name}`}>{rover.name}</a>
                                </li>
                            ))}                
                        </ul>
                        <RoverDetail rover={currentItem} />
                    </div>
                    );
            }
                
            const rovers = <%- rovers %>;
            ReactDOM.render(<Home data={rovers} />, document.getElementById('root'));
            
        </script>
    </body>
</html>