<html>
    <body>
        <h1>
            My Home Page
        </h1>

        <% showcase.forEach(function(showcase) { %>
            <li> <%= showcase.name %> </li>
        <% }); %>
    </body>
</html>